html, body {
	width: 100%;
    height: 100%;
	margin: 0;
}

body {
    background-color: #EFEFEF;
}

.container {
    height: 100%;
    display: box;
    margin: auto;
    width: 1280px;
    margin-top: 100px;
}

.header {
	width: 1280px;
	text-align: center;
	font-family: monospace;
	font-size: 40px;
    margin-bottom: 20px;

    background: #999999;

    color: white;
	text-shadow: 0 2px 0 #000000;
}

.info{
    box-sizing: border-box;
    padding: 15px;
    width: 1280px;
	text-align: left;
	font-family: monospace;
	font-size: 20px;
    margin-top: 20px;

    background: #DDDDDD;
    border: 2px #999999 solid;

    color: black;
    margin-bottom: 100px;
}

#canvas-container {
	width: 1280px;
}